# binaries
jack_mix_box
*.lo
*.la
*.o

# Mixer configuration files
*.xml

# general Python stuff
*.pyc
__pycached__/

# distutils / setuptools
build/
dist/
*.egg-info

# Cython stuff
_jack_mixer.c
_jack_mixer.*.so
