/config
/Makefile.in
/Makefile
/.deps
/.libs
/config.h
/libtool
/stamp-h1
/autom4te.cache
/aclocal.m4
/config.h.in
/config.log
/config.status
/configure
/jack_mixer_c.py
/jack_mixer_wrap.c
/data/Makefile
/data/Makefile.in
/data/art/Makefile
/data/art/Makefile.in
*.lo
*.la
