# binaries
jack_mix_box
*.lo
*.la
*.o

# generated man pages
jack_mix_box.1
jack_mixer.1

# Mixer configuration files
*.xml
*.geany

# general Python stuff
*.pyc
__pycached__/

# distutils / setuptools
build/
dist/
*.egg-info

# Cython stuff
_jack_mixer.c
_jack_mixer.*.so

# recommended meson build directory
builddir/
