include AUTHORS
include COPYING
include INSTALL.md
include NEWS
include README
include _jack_mixer.c
include _jack_mixer.pyx
include _jack_mixer.pxd
include *.c *.h
include meson.build
include meson_options.txt
