[Desktop Entry]
Name=Jack Mixer
Comment=Jack Mixer
Comment[fr]=Mixeur pour JACK
Exec=jack_mixer
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;AudioVideo;Player;Audio;
Icon=jack_mixer
